# Laravel
/backend/node_modules/
/backend/public/build/
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor/
/backend/.env
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log

# Nuxt
/frontend/node_modules/
/frontend/.nuxt/
/frontend/dist/
/frontend/.env
/frontend/nuxt.config.local.js
/frontend/yarn-error.log
/frontend/npm-debug.log

/frontend/admin/node_modules/
/frontend/admin/.nuxt/
/frontend/user/node_modules/
/frontend/user/.nuxt/
# General
*.log
.DS_Store